[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/sb-types"]
	path = external/sb-types
	url = git@github.com:guilherme-daros/sb-types.git
